<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="subject" value="test"/>
    <add key="MailAddress" value=""/>
    <add key="MailTo" value=""/>
    <add key="MailCC" value=""/>
    <add key="SmtpClient" value="dc-exchc.bdms.co.th"/>
    <add key="pathAttachment" value=""/>
  </appSettings>
  <connectionStrings>
    <add name="Server89ConnectionString" connectionString="Server=10.104.10.89; Port=1972; Namespace=PROD-TRAK;Password=sys; User ID=superuser"/>
    <add name="Server112ConnectionString" connectionString="Server=10.104.10.112; Port=1972; Namespace=PROD-TRAK;Password=sys.dev.@dmin; User ID=adminsmit"/>
    <add name="MEDSD" connectionString="Dsn=MEDSD"/>
    <add name="DBConnectionString" connectionString="Data Source=10.104.13.11;Initial Catalog=SendEmailCSI;User Id=osa;Password=osa;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>