<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <appSettings>
    <add key="subject" value="Customer Satisfaction Survey" />
    <add key="MailAddress" value="info@samitivej.co.th" />
    <add key="MailTo" value="" />
    <add key="MailCC" value="" />
    <add key="SmtpClient" value="dc-exchc.bdms.co.th" />
    <add key="Message" value="Please survey  #[Link]  Thank You" />
    <add key="pathAttachment" value="" />
    <add key="11" value="SVH" />
    <add key="12" value="SNH" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="thaicode" value="TH"/>
    <add key="engcode" value="EN"/>
  </appSettings>
  <connectionStrings>
    <add name="Server108DataTest" connectionString="Server=10.104.10.108; Port=1972; Namespace=TEST-TRAK;Password=sys; User ID=superuser" />
    <add name="Server89ConnectionString" connectionString="Server=10.104.10.89; Port=1972; Namespace=PROD-TRAK;Password=sys; User ID=superuser" />
    <add name="Server112ConnectionString" connectionString="Server=10.104.10.112; Port=1972; Namespace=PROD-TRAK;Password=sys.dev.@dmin; User ID=adminsmit" />
    <add name="MEDSD" connectionString="Dsn=MEDSD" />
    <add name="DBConnectionString" connectionString="Data Source=10.104.13.11;Initial Catalog=SendEmailCSI;User Id=osa;Password=osa;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>